<ion-view style="" class=" " id="page22" title="">
  <ion-content class="background" padding="true">
    <!-- <ion-list class="" >
    </ion-list> -->
    <div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Phone Number" id="phoneNumber">
	  </label>
	  <!-- <label class="item item-input">
	    <input type="text" placeholder="Last Name">
	  </label> -->
	</div>

	<button id="sign-in-button" class="button button-positive button-block" ng-click="submitPhoneNumberAuth()">
      SEND OTP
    </button>
    <!-- <button id="confirm-code" ng-click="submitPhoneNumberAuthCode()">
      ENTER CODE
    </button> -->
    <div id="recaptcha-container"></div>
  </ion-content>
</ion-view>