<ion-view style="" class=" " id="page10" title="Support">
  <ion-content class="background" padding="false" >
    <ion-list class=" " >
      <!-- Profile Cover Page -->
      <div class="support-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a>
              <img  src="img/fk/default_dp.JPG">
            </a>
            <p style="color: #ffffff;">Jom Thanni</p>
          </div>
        </div>
      </div>
      <br/>
      
      <!-- Profile Cover Page -->
      <!-- <div class="support-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a href="#">
              <img  src="img/.jpg">
            </a>
            <p style="color: #ffffff;">Shiva Sakte Ballan</p>
          </div>
        </div>
      </div> -->

      <!-- <div class="list card">
      <a href="mailto:minimart.krishna@gmail.com?Subject=Hello%20again" class="item item-icon-left">
        <i class="icon ion-ios-email"></i>
        Email Us
      </a>
      </div>
      <div class="list card">
      <a href="tel:+60173824465" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Call Us
      </a>
    </div> -->
<!-- 
    <a class="button button-assertive button-block" ng-href="tel:+60173824465">Call Us</a>
    <a class="button button-assertive button-block" ng-href="mailto:minimart.krishna@gmail.com?Subject=Hello%20again">Email Us</a> -->
  <button ng-click="mail()" class="button button-assertive button-block ">Email Us</button>
    <button ng-click="call()" class="button button-assertive button-block ">Call Us</button>

    </ion-list>
  </ion-content>
</ion-view>