<ion-view style="" class=" " id="page10" title="Support">
  <ion-content class="background" padding="true">
    <ion-list class=" " >
      <!-- Profile Cover Page -->
      <div class="support-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a>
              <img  src="img/fk/default_dp.JPG">
            </a>
            <p style="color: #ffffff;">Jom Thanni</p>
          </div>
        </div>
      </div>
      <br/>
      <button ng-click="mail()" class="button button-assertive button-block ">Email Us</button>
      <button ng-click="call()" class="button button-assertive button-block ">Call Us</button>

    </ion-list>
  </ion-content>
</ion-view>