<ion-view style="" class=" " id="page20" title="View Orders">
  <ion-content class="no-header background" padding="true">
    <br>
    <br>
          <ion-list ng-repeat="item in assetCollection">
      <ion-item class="item-thumbnail-left" >
        <img  ng-src="{{item.URL}}" >
        <a class="badge badge-balanced" style="position: absolute;right:0;" >{{item.status}}</a>
        <h4> {{item.item_name}} </h4>
        <p>Qty: {{item.item_qty}}  Price: RM {{item.price}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>